.sideRight {
  transform: rotate(90deg);
  text-transform: uppercase;
  display: block;
  position: fixed;
  top: 58%;
  right: 3px;
  overflow: hidden;
}

.sideLeft {
  transform: rotate(-90deg);
  text-transform: uppercase;
  display: block;
  position: fixed;
  bottom: 58%;
  left: 3px;
  overflow: hidden;
}
