@mixin theme($bcg, $text, $class) {
  body.#{$class} {
    display: block;
    background-color: $bcg;
    color: $text;
    @include btn($text, $bcg);
    @include backgroundText($text, $bcg);
  }
}

body {
  display: none;
  background-color: $black;
  font-family: "Roboto Mono", monospace;
  display: flex;
  justify-content: center;
  max-width: 2440px;
  margin: auto;
  @include theme(#343639, #bcdfd5, "dark");
  @include backgroundText(#bcdfd5, #343639);
  transition: all 0.5s;
}

@include theme(#fffdf5, #6f6f6f, "white");
@include theme(#ffec88, #416f72, "yellow");
@include theme(#b0e1a3, #7c5664, "green");
@include theme(#376590, #c8ffbb, "blue");
@include theme(#ff5a5a, #ffc9ed, "red");
@include theme(#343639, #bcdfd5, "dark");


// body.yellow {
//   background-color: #ffec88;
//   color: #416f72;
//   @include btn(#416f72, #ffec88);
// }
