@media screen and (max-width: 768px) {
  h1,
  h2,
  h3,
  h4 {
    font-size: 24px !important;
  }
  .mediaButton {
    flex-direction: column;
    align-items: center;
  }
  .maxWidth {
    max-width: 60% !important;
  }
  .btn {
    font-size: 10px !important;
  }
  .theme {
    padding: 8px;
    margin: 4px 20px;
  }

  .profile {
    &-title {
      font-size: 1rem;
      text-align: inherit;
      display: inline;
    }

    &-p {
      margin-top: 20px;
      font-size: 1rem;
      text-align: justify;
    }
  }
  .home-link {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;

    &-title {
      font-weight: 500;
      font-size: 2rem;
    }

    &-p {
      font-size: 1.2rem;
    }
  }

  .autoMiddle {
    align-items: none;

    justify-content: start;

    &-margin {
      margin-top: 100px;
    }
  }
}
