// Roboto:ital,wght@0,100;0,400;0,700;1,300&display=swap
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: $blue-light;
}

h2 {
}

h3 {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: $blue-light;
}

h4 {
}

h5 {
}

h6 {
}

p {
}

span {
}

// Class

.letter-spacing2 {
  letter-spacing: 2px;
}
